* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common */
h2{
    padding: 1rem 0;
}
h4{
    margin-bottom: 0.5rem;
}

/* Utilities */
.d_flex{
    display: flex;
}

.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Input Section */
.input_card{
    padding: 1.5rem;
    background-color: blanchedalmond;
    border-radius: 20px;
    border: 3px solid darkred;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .d_flex{
        justify-content: center;
        gap: 3rem;
        align-items: center;
    }

    & input{
        padding: 0.5rem;
        border-radius: 10px;
    }

    .btn{
        padding: 0.5rem;
        margin: 0 1rem;
        border-radius: 10px;
        font-weight: bold;
    }

    .clear{
        background-color: darkorange;
    }

    .submit{
        background-color: darkolivegreen;
        color: white;
    }
}

/* Output Section */
.output_card{
    
    background-color: blanchedalmond;
    border: 3px solid darkred;

    .left{
        padding: 2rem;
        width: 15rem;
        background-color: rgb(182, 182, 182);

        & h3{
            padding-bottom: 0.5rem;
        }
    }

    .right{
        padding: 2rem;
        flex-grow: 1;
    }
}